* {
    box-sizing: border-box;
    background-color: #ddd;
}
body {
    margin : 0;
}
img {
    width: 100%;
}

.container {
    margin: 2%;
    display: flex;
    flex-wrap :wrap;
    max-width: 1000px;
    margin : auto;
}

.container .card {
    width: 50%;
}

/* Neu man hinh co kich thuoc >= 768px */
@media (min-width: 768px) {
    .container .card {
        width: calc(100% /3);
    } 
}


