* {
    box-sizing: border-box;
    margin: 0;
}


.container {
    margin: 0px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.body{
    margin: 0px;
}

.block {
    width: calc((100% - 30px) / 3);
    height: 400px;
    color: white;
    display: flex;
    justify-content: ar;
    align-items: center;
}

.bg-red {
    background-color: red;
    margin-right: 15px;
}

.bg-green {
    background-color: green;
}

.bg-blue {
    background-color: blue;
    margin-left: 15px;
}
