* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Playfair Display", serif;
}
.header {
  max-width: 1200px;
  margin: 70px auto 100px;
}
.header .menu {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
main {
  margin-bottom: 200px;
  line-height: 1.7;
}
.header,
.container,
.card {
  padding: 0 64px;
}
.container,
.card {
  margin: 0 auto;
  max-width: 900px;
}
h4 {
  margin-bottom: 25px;
  font-family: sans-serif;
  font-weight: 300;
  color: #b4ad9e;
  font-size: 14px;
}
h2 {
  margin-bottom: 30px;
  font-size: 30px;
}
.card a {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}
#p {
  margin-bottom: 50px;
}
.list {
  display: flex;
  list-style: none;
}
.list li {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav-menu {
  cursor: pointer;
}
.nav li {
  margin-right: 88px;
}
.nav #li {
  margin-right: 0;
}
.logo {
  font-family: "Inconsolata", monospace;
  font-size: 30px;
  text-transform: uppercase;
  margin-right: auto;
}
.img img {
  width: 100%;
  margin-top: 80px;
}
.container {
  margin-bottom: 130px;
}
.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
}
.item img {
  width: 100%;
  margin-bottom: 30px;
}
.item {
  margin-bottom: 130px;
}
.banner {
  background-color: #f0f0f0;
  padding: 70px 0;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email {
  width: 400px;
  display: flex;
  border-bottom: 1px solid #000;
}
.h2 {
  margin-bottom: 70px;
  font-weight: unset;
}
.email input {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  padding: 14px 0;
  flex: 1;
  border: none;
  background-color: #f0f0f0;
}
.email button {
  width: 40px;
  border: none;
  background-color: #f0f0f0;
}
.section-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
}
.button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 30px;
  background-color: #fff;
  border: 1px solid #000;
  font-family: inherit;
  font-size: 20px;
}
footer {
  font-weight: 600;
  background-color: #f0f0f0;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.left {
  margin-left: 150px;
}
.right {
  margin-right: 70px;
  display: flex;
  align-items: center;
}
.mr {
  margin-right: 16px;
}
a :hover {
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .list {
    display: block;
  }
  .list {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    display: none;
  }
  .logo {
    margin-right: auto;
  }
  .list li {
    margin-right: 0;
  }
  .list li {
    padding: 12px 36px;
  }
}

@media (min-width: 1000px) {
  .menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0 40px;
    margin-top: 12px;
  }
  .left,
  .right {
    margin: 6px;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .card {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
